.container {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 15px;
}
.container-2{
    width: 300px;
    height: 200px;
    border: 5px solid black;
    box-sizing: border-box;


}
.container-3{
    width: 500px;
    height: 500px;
    border: 5px solid black;


}
.item-1,.item-2{
    width: 200px;
    height: 300px;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
    margin: 20px;


}
.container-4{
    height: 500px;
    width: 100%;
    border: 3px solid black;


}
.chid-con {
    width: 300px;
    height: 200px;
    margin-top: 155px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 2px solid black;


}
.container-5 {
    height: 500px;
    width: 500px;
    margin-bottom: 30px;
    border: 2px solid black;


}
.container-6 {
    height: 500px;
    width: 500px;
    margin-top: 30px;
    border: 2px solid black;

    
}